.App {
  text-align: center;
  margin-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 20px;
}

.photo-card {
  border: 1px solid rgb(230, 164, 164);
  border-radius: 4px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
}

.photo-title {
  font-weight: 500;
}

.loading {
  margin: 30px;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(230, 164, 164);
  border-color: rgb(230, 152, 152) transparent rgb(233, 150, 150) transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
